## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
varia=90
print(varia)

90

2) Imprimir el tipo de dato de la constante 8.5

In [1]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
type(varia)

int

4) Crear una variable que contenga tu nombre

In [6]:
name= "Mauricio Mongui"

5) Crear una variable que contenga un número complejo

In [7]:
comp = 4 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(comp)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
p_i=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
num = "True"
var = True # NO es lo mismo ya que la primera es un str y el otro es un bool

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [19]:
print("La primer variable es ", type(num), " y la segunda es ", type(var))

La primer variable es  <class 'str'>  y la segunda es  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
num1 = 3 + 0.3

11) Realizar una operación de suma de números complejos

In [22]:
x = 2 + 1j
y = 2j
print(x+y)

(2+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [25]:
a1 = 3.2 + x
print(a1)

(5.2+1j)

13) Realizar una operación de multiplicación

In [27]:
a2 = 3 * 3
print(a2)

9

14) Mostrar el resultado de elevar 2 a la octava potencia

In [28]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [30]:
b = 27 / 4 
print(b)

6.75

16) De la división anterior solamente mostrar la parte entera

In [31]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [32]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [33]:
print(4*6+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [36]:
c = "Mauro "
p = "Rios"
print(c + p)

Mauro Rios

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [37]:
2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [39]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [43]:
float("3,8") #El tipo de dato es un str y no un float( decimal)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [47]:
q = 3
q -=1
print(q)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [48]:
1 << 2

4

Porque se realiza un dezplazamiento de dos espacios (bits) hacia la izquierda donde el numero binario pasa de 1 a 100 que al hacer la conversion a nuestro sistema decimal habitual es 1*2^2 + 0*2^1 + 0*2^0 = 4 + 0 + 0 = 4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [52]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

1. No esta permitido porque son dos tipos de datos diferentes uno int y el otro str
2. Si los dos operadores son del mismo tipo arrojan resultados diferentes por ejemplo si son dos int arroja un int y si son dos str arroja un str.

26) Realizar una operación válida entre valores de tipo entero y string

In [57]:
p = 4
p1 = " de Agosto"
print(str(p) + p * p1 * 2)

4 de Agosto de Agosto de Agosto de Agosto de Agosto de Agosto de Agosto de Agosto